<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pro_car2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>GetAddrList</display-name>
    <servlet-name>GetAddrList</servlet-name>
    <servlet-class>controller.GetAddrList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddrList</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>GetAddrStationList</display-name>
    <servlet-name>GetAddrStationList</servlet-name>
    <servlet-class>controller.GetAddrStationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddrStationList</servlet-name>
    <url-pattern>/addressStation</url-pattern>
  </servlet-mapping>
  
  
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BbsManager</display-name>
    <servlet-name>BbsManager</servlet-name>
    <servlet-class>controller.BbsManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsManager</servlet-name>
    <url-pattern>/bbs</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AddBookmark</display-name>
    <servlet-name>AddBookmark</servlet-name>
    <servlet-class>controller.AddBookmark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookmark</servlet-name>
    <url-pattern>/AddBookmark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookmark</display-name>
    <servlet-name>Bookmark</servlet-name>
    <servlet-class>controller.Bookmark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookmark</servlet-name>
    <url-pattern>/Bookmark</url-pattern>
  </servlet-mapping>
  
</web-app>